* ::after,
* ::before,
* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

.wrapper{
    max-width: 100%;
    padding-inline:5px;
    
}
@media (min-width:600px){
    .wrapper{
        max-width: 570px;
        margin-inline:auto;
        padding-inline:unset;
    }
}
@media (min-width:768px){
    .wrapper{
        max-width: 730px;
    }
}
@media (min-width:992px){
    .wrapper{
        max-width: 950px;
    }
}
@media (min-width:1200px){
    .wrapper{
        max-width: 1150px;
    }
}
.flex-box{
    display: flex;
}
.login-block, .menu-logo{
    flex-grow: 1;
    width:30%;
}
.menu-logo{
    text-align: right;
    cursor: pointer;
    font-size: 2rem;
    position:relative;
}
.login-icon{
    color:black;
    font-size: 2rem;
    text-decoration: none;
}
.login-icon span{
    visibility: hidden;
}
.nab{
    display: flex;
    flex-wrap: wrap;
    padding-block:15px;
}
.first-menu{
    list-style: none;
    flex-wrap: wrap;
    visibility: hidden;
    opacity: 0;
    height: 0;
    flex:0 0 50%;
    transition: 300ms ease-in-out;
    overflow: hidden;
}
@media (min-width:992px){
    .first-menu{
        flex:0 0 auto;
        display: flex;
        opacity: unset;
        visibility: unset;
        height: unset;
    }
    .nav-item{
        flex:0 0 auto;
    }
    .nav-link{

    }
    .close-btn{
        display: none;
    }
    .login-icon span{
        visibility: visible;
        font-size: 1.2rem;
        padding-inline:10px;
    }
    .nav-logo{
        order:-1;
        margin-right: 15px;
        align-items: center;
    }
    
    
}

.nav-item{
    justify-content: flex-start;
    flex:0 0 50%;
    padding-block:20px;
}
.nav-link{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.2rem;
    color:black;
}
.close-btn{
    position:absolute;
    top:60px;
    right: 20px;
    font-size: 2rem;
    color:black;
}
#toggel:checked ~ .first-menu{
    visibility: visible;
    opacity: 1;
    height: 300px;
}




header{
    width: 100%;
    background-color:red;
    padding:30px;
}







header{
    background-color: rgb(255, 0, 0);
    position:relative;
}
.main-menu{
    display: flex;
    justify-content: space-between;
    align-items:center ;
}
.logo{
    text-decoration: none;
    font-size: 2.5rem;
    color:white;
    text-transform: uppercase;
}
.toggel-btn2{
    font-size: 2rem;
    padding:6px 8px;
    border:1px solid white;
    color:white;
}
.toggel-btn2:hover{
    background-color: black;
}
.toggel-btn2 i{
    display: block;
}
.second-nav{
    position:absolute;
    top:100%;
    left:0;
    background-color: black;
    width: 100%;
    list-style: none;
    visibility: hidden;
    opacity: 0;
}
.main-nav-item{
    padding-inline:10px;
}
.main-nav-link{
    width: 100%;
    text-decoration: none;
    display: block;
    padding-block: 20px;
    border-bottom: 1px solid gray;
    text-transform: uppercase;
    color:white;
}
#toggel-2:checked ~ .second-nav{
    visibility: visible;
    opacity: 1;
}
.close{
    display: none !important;
}
.show{
    visibility: visible !important;
}
#toggel-2:checked ~ .toggel-btn2 .show{
    display: none;
}
#toggel-2:checked ~ .toggel-btn2 .close{
   display: block !important;
}
@media (min-width:992px){
    .toggel-btn2{
        display: none;
    }
    .second-nav{
        position:static;
        visibility: visible;
        width: 100%;
        background-color: transparent;
        border: none;
        padding:unset;
        display: flex;
        opacity: 1;
    }
    .main-menu{
        display: flex;
        flex-wrap: wrap;
    }
    .main-nav-link{
        display: block;
        padding:0 10px;
        border-bottom: none;
    }
    .main-nav-item{
        padding-block:10px;
        position:relative;
    }
    .main-nav-item:not(:last-child) .main-nav-link{
        
        border-right: 1px solid rgb(204, 198, 198);
    }
    .main-nav-item::before{
        width: 90%;
        content: '';
        height: 3px;
        background-color: white;
        position:absolute;
        bottom:0;
        visibility: hidden;
    }
    .main-nav-item:hover::before{
        visibility: visible;
    }
}