
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}
a {
    text-decoration: none;
    color:black;
}
.wrapper{
    width:98%;
    margin-inline:auto;
}

@media (max-width:1200px){
    .wrapper{
        max-width: 992px;
    }
}
@media (max-width:992px){
    .wrapper{
        max-width: 768px;
    }
}
@media (max-width:768px){
    .wrapper{
        max-width: 600;
    }
}
@media (max-width:600px){
    .wrapper{
        max-width: 100%;
    }
}
.nav-bar{
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}
.nav-bar > div{
    width:20%;
    height: 120px;
    text-align: left;
}
@media (max-width:1200px){
    .nav-bar > div{
        width:20%;
    }
    
}
@media (max-width:992px){
    .nav-bar > div{
        width:50%;
    }
    .nav-bar{
        height: 330px;
    }
}
@media (max-width:768px){
    .nav-bar > div{
        width:50%;
    }
    .nav-bar{
        height: 320px;
    }
    
}
@media (max-width:600px){
    .nav-bar > div{
        width:100%;
        height: 20%;
    }
    .nav-bar{
        height: 500px;
    }
}

.nav-box1{
    display: flex;
    justify-content:center;
    align-items: center;
    
}

.spring{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.nav-box2{
   column-gap: 5px;
   font-size: 1.2rem;
}

.nav-box3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.nav-box3 div, span{
    text-transform: uppercase;
    text-align: center;
    font-size: 1.1rem;
}

@font-face{
    font-family:'habib';
    src: url(rubel/Anthony-Hunter-Italic.ttf);
      }

.nav-box3 div h3{
    font-family: habib;
    font-size: 1rem;
}

.nav-box4{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-box5{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.nav-box5 li{
    list-style: none;
    font-size: 1.5rem;
    letter-spacing: 20px;
}




.second-nav{
    width:100%;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}
@media (max-width:1200px){
    .second-nav{
        width:100%;
    }
    .second-nav div{
        width:20%;
    }
}
@media (max-width:992px){
    .second-nav{
        width:100%;
    }
    .second-nav div{
        width:50%;
    }
}
@media (max-width:768px){
    .second-nav{
        width:100%;
    }
    .second-nav div{
        width:70%;
    }
}
@media (max-width:600px){
    .second-nav{
        width:100%;
        height:200px;
    }
    .second-nav div{
        width:100%;
    }
}
.second-nav > div{
    color:white;
    word-spacing: 5px;
    width: 25%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction:row ;
}
.second-nav li{
    letter-spacing: 12px;
    padding-left: 10px;
    color:white;
    list-style: none;
    font-size: 1.5rem;
}

.handflower{
    display: flex;
    background-image: url("photo/download.jpeg");
    height: 300px;
    object-fit: cover;
    background-size: cover;
    width:100%;
    justify-content: center;
}
.handflower > div{
    width:30%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.handflower div img{
    width:100%;
    height: 100%;
    object-fit: cover;
    
}

.handflower div > h1,p{
    line-height: 20px;
}
.handflower div > h1{
    line-height: 45px;
}
.handflower div button{
    width: max-content;
    padding: 10px 18px;
    background-color: gold;
    border:none;
    text-transform: uppercase;
    font-size: 1rem;
    margin-block:10px;
}
h1:nth-child(6){
    font-size: 1.3rem;
    text-transform: capitalize;
}

.p-title{
    margin-block:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 70px;
    line-height: 20px;
}
.p-title div{
    max-width: 50%;
    height: 100px;
}
.p-title div > p {
    text-transform: capitalize;
    font-size: 1.3rem;
   font-weight: 100;
   
}
.p-title div .stick {
    width:200px;
    height: 2px;
    background-color: red;
   margin-inline:auto;
   margin-block:10px;
}

.paragraph{
    display:flex;
    width:100%;
    height: 80px;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
   
}
.paragraph p{
    width:80%;
    font-size: 1.2rem;
    line-height: 30px;
}

.section-card{
    margin-block:20px;
    margin-inline:auto;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    max-width: 90%;
   flex-wrap: wrap;
}

@media (max-width:1200px){
    .section-card > .flower{
        width:25%;
    }
}
@media (max-width:992px){
    .section-card > .flower{
        width:33%;
    }
}
@media (max-width:768px){
    .section-card > .flower{
        width:50%;
    }
    
}
@media (max-width:600px){
    .section-card > .flower{
        width:100%;
    }
}

.flower{
    width: 24%;
    height: 300px;
    margin-bottom: 15px;
    position:relative;
}
.flower div{
    width:100%;
    height: 270px;
}
.flower div img{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.flower div {
    text-align: center;
}
.flower div span{
   padding:10px 20px;
    background-color: black;
    position: absolute;
    color:white;
    font-size: 1.2rem;
    right: 0;
    top:0;
}

.background{
    background-image: url("photo/pic3.png");
    background-repeat: no-repeat;
    object-fit: cover;
   background-size: cover;
   height: 250px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}

.background div{
    width: 90%;
    height: 300px;
    margin-block:30px;
}
.background div h2{
    margin-block: 30px;
    text-transform: capitalize;
    color:rgb(23, 22, 22);
}
.background div h3{
    margin-top: 20px;
    text-transform: capitalize;
    color:gold;
}
.background div button{
    margin-block: 30px;
    width: max-content;
    padding:10px 15px;
    border:none;
    background-color: gold;
    font-size: 1.2rem;
    color:white;
    text-transform: capitalize;
}

.section-card2 .newf{
    text-align: center;
    font-size: 2rem;
    text-transform: capitalize;
    margin-block:40px;
    border-bottom: 2px solid rgb(206, 209, 200);
    width: max-content;
    margin-inline:auto;
    display: block;
}

.view{
    margin-block:50px;
    display: block;
    padding:15px 30px;
    border:none;
    background-color: rgb(214, 185, 19);
    text-transform: capitalize;
    margin-inline:auto;
}
.black{
    width: 100%;
    height: 200px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.black div{
    width: 45%;
    height: 200px;
    
}
.black div h1{
    color:rgb(210, 228, 6);
    margin-block:30px;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 100;
}
.black div p{
    color:rgb(216, 216, 9);
    margin-block:10px;
   
}
.black div input{
   width: 80%;
   padding:5px;
   border-top-style: none;
   border-left-style: none;
   border-right-style: none;
   margin-top:60px;
}
.black div button{
   padding:10px 20px;
}

.last-section{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap:wrap ;
}

.last-section .last-child{
    width: 90%;
    height: 250px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid rgb(187, 187, 187);
}

.last-section .last-child .last-box{
    width: 23%;
    height: 250px;
}
.last-box > h1 {
    margin-top:50px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.last-box .under{
    display: flex;
    flex-direction:row;
}
 .under div{
    width: 50%;
    height: 150px;
   
}
.under div p{
    line-height: 30px;
    text-transform: capitalize;
}
.last-box p{
    line-height: 30px;
    text-transform: capitalize;
}

.last-section .end1{
    width: 75%;
    height: 100px;
    text-transform: capitalize;
}
.last-section .end2{
    width: 15%;
    height: 100px;
    padding:0 5px 5px 5px;
    color:black;
    
}
.last-section .end2 i{
   border-radius: 60%;
   font-size: 1.5rem;
   letter-spacing: 5px;
}